:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  background-color: #e9e9e9;
  color: black;
  font-size: medium;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
}

